registry=https://globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/ 
                        
always-auth=true

; begin auth token
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:username=globalsysdev
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:_password=ZXh6c2l3emR0bGY2a3V0aGRkbGlkd2RheGxwNXRkc25pNDVhaGprZ2hqNDRvYnk1d2JoYQ==
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:email=npm requires email to be set but doesn't use the value
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:username=globalsysdev
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:_password=ZXh6c2l3emR0bGY2a3V0aGRkbGlkd2RheGxwNXRkc25pNDVhaGprZ2hqNDRvYnk1d2JoYQ==
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

-- exzsiwzdtlf6kuthddlidwdaxlp5tdsni45ahjkghj44oby5wbha