registry=https://globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/ 
                        
always-auth=true

; begin auth token
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:username=globalsysdev
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:_password=bGp1anZkc3VydXY1b3o2NGNzaWUyeHhpendvN2lpcTY2ZDV0YWlkaGEyNzZnamNjZ2d4YQ==
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/registry/:email=npm requires email to be set but doesn't use the value
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:username=globalsysdev
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:_password=bGp1anZkc3VydXY1b3o2NGNzaWUyeHhpendvN2lpcTY2ZDV0YWlkaGEyNzZnamNjZ2d4YQ==
//globalsysdev.pkgs.visualstudio.com/Reserva/_packaging/reserva-ui-storybook/npm/:email=npm requires email to be set but doesn't use the value
; end auth token