{
  "branches": ["main", "feat/onesignal-updated-v3"],
    "plugins": [
      "semantic-release-react-native",
      "@semantic-release/release-notes-generator",
      ["@semantic-release/git", {
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
        "assets": [
          "ios/reserva/Info.plist",
          "ios/OneSignalNotificationServiceExtension/Info.plist",
          "ios/reserva.xcodeproj/project.pbxproj",
          "ios/reservaTests/Info.plist",
          "android/app/build.gradle",
          "package.json",
          "CHANGELOG.md"
        ]
      }]
    ]
}