<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.usereserva">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <!-- Responsys configuration -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="com.usereserva.permission.PUSHIO_MESSAGE" />
  <uses-permission android:name="com.usereserva.permission.RSYS_SHOW_IAM" />
  <permission android:name=".permission.PUSHIO_MESSAGE" android:protectionLevel="signature" />
  <permission android:name="com.usereserva.permission.RSYS_SHOW_IAM" android:protectionLevel="signature" />
  <!-- Responsys configuration -->

  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:allowBackup="false" android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyChqf-fnefrYwK_TE0g5tQMB6yXKQAdPNk"/>
    <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    <!-- Responsys configuration -->
    <receiver android:enabled="true" android:exported="false" android:name="com.pushio.manager.PushIOUriReceiver">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="@string/uri_identifier" />
        </intent-filter>
    </receiver>
    <activity android:name="com.pushio.manager.iam.ui.PushIOMessageViewActivity" android:permission="com.usereserva.permission.SHOW_IAM" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <intent-filter>
        <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="@string/uri_identifier" />
        </intent-filter>
    </activity>
    <!-- Responsys configuration -->

    <activity android:name=".SplashActivity" android:theme="@style/SplashTheme" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait" android:exported="true">

      <!-- Responsys configuration -->
      <intent-filter>
        <action android:name="com.usereserva.NOTIFICATIONPRESSED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="@string/app_links_url_host" android:pathPrefix="/pub/acc" android:scheme="https" />
      </intent-filter>
      <!-- Responsys configuration -->

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="usereserva"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="@string/one_link_url_host" android:pathPrefix="/qMMv" />
      </intent-filter>
    </activity>
  </application>
</manifest>
